{% extends "header.html" %}
{% block style %}
<link rel="stylesheet" href="static/styles.css">
{% endblock %}
{% block content %}

<div class="container-fluid">

  <div class="container-fluid float-center">
    <img src="static/AKApicture.png" width="400" 
    height="500" class="rounded mx-auto d-block" alt="...">
  </div>
    <div class="container-fluid float-right">
      <h1 class="text-center">Hello, I'm Joyce (Joy) Tijani<span>!</span></h1>
      <div class="row d-flex justify-content-center align-content-center mr-1">
        <a class="button button-primary button-wide-mobile" href="https://github.com/joytijani">Github</a>
        <a class="button button-primary button-wide-mobile" href="https://www.linkedin.com/in/joyce-tijani/">LinkedIn</a>
      </div>

      <div class="text-center">
        <p>I am a senior computer science student at the University of Maryland College Park with a minor in
          Innovation and Entrepreurship. I graduate in December 2022 with hopes to go full time as a software engineer doing 
        front end development. </p>
      </div>
  </div>
</div>

{% endblock %}>