{% extends "header.html" %}
{% block style %}
<link rel="stylesheet" href="static/styles.css">
{% endblock %}
{% block content %}
<div class="contact">
    <h3>Contact Me</h3>
    <form action="{{ url_for('projects.contact') }}" method=post>
        <div>
            <p>
                {{ form.name.label }} <br>
                {{ form.name(placeholder='Full Name') }}
            </p>
            <p>
                {{ form.email.label }} <br>
                {{ form.email(placeholder='Email Address') }}
            </p>
            <p>
                {{ form.subject.label }}<br>
                {{form.subject(placeholder='Subject Line')}}
            </p>
            <p>
                {{ form.message.label }}<br>
                {{ form.message(placeholder='Message') }}
            </p>
            <p>
                {{ form.submit }}
            </p>
        </div>
    </form>
</div>
{% endblock %}
