{% extends "header.html" %}
{% block style %}
<link rel="stylesheet" href="static/styles.css">
{% endblock %}
{% block content %}

<div class="m-4">
      <div class="row mb-4">
          {# All my projects should go on this page #}
          <div class="container-fluid">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                {% if forloop %}
                {% for project in projects %}
                <div class="item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{ forloop.counter }}">
                  <h1>{{ project.title }}</h1>
                  <div class="container-fluid" >
                    <div class="row d-flex justify-content-center align-content-center mr-1">
                      <a class="button button-primary button-wide-mobile" href="{{ project.url}}">Github Repo</a>
                      <a class="button button-primary button-wide-mobile" href="{{ url_for('projects.project_detail', project_id = project.id) }}">Project Link</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
              </div>
            </div>
            </div>
      </div>
</div>
{% endblock %}