{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col">
        <h2>{{ username }}'s Comments</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1> Project Comments </h1>
        <ul class="media-list">
            {% for project in projects %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ project.date }}</small>
                    </span>
                    <strong>For: <a href="{{ url_for('projects.project_detail', project_id=post.project_id) }}">
                            {{ project.project_title }}
                        </a>
                    </strong>
                    <p>
                        {{ project.text }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}